@import './variables';

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    & .logo {
        filter: invert(16%) sepia(18%) saturate(0%) hue-rotate(162deg) brightness(104%) contrast(93%)
    }

    & .dark {
        background-color: #333;
        color: white;
        & .logo {
            filter: invert(88%) sepia(69%) saturate(48%) hue-rotate(57deg) brightness(110%) contrast(112%);
        }
    }
}
    

